@media (max-width: 1024px){
    html {
        font-size: 14px;
    }
    nav {
        width: 84%;
    }
    .caja-servicios {
        flex-direction: column;
        text-align: center;
        width: 46%;
    }
    .caja-servicios div:first-child{
        width: 60%;
        margin: 0 auto; 
    }
    .caja-servicios div:last-child{
        width: 100%;
    }
    section {
        padding: 60px 3%;
    }
    .contenedor-cajas {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    h2 {
        font-size: 2.5em;
    }
}
@media (max-width: 800px){
    footer > div > div:nth-child(2) a:first-of-type {
        font-size: 1.3em;
    }
    footer > div > div:nth-child(2) a:last-of-type {
        font-size: 1.1em;
        white-space: nowrap;
    }
}
@media (max-width: 768px){
    nav {
        width: 79%;
    }
}
@media (max-width: 690px){
    .contenedor-logo {
        left: 10px;
    }
    nav {
        width: 81%;
        flex-direction: column;
        right: 10px;
    }
    nav a{
        width: 100%;
        margin-bottom: 4px;
    }
    nav a:first-child {
        border-radius: 0 10px 0 0;
    }
    nav a:last-child {
        border-radius: 0 0 10px 0;
        margin-bottom: 0;
    }
    .banner div {
        margin: 0 auto;
    }
    .subrayado {
        font-size: 1.8em;
    }
}
@media (max-width: 672px){
    footer > div {
        flex-direction: column-reverse;
        text-align: center;
    }
    footer > div div:last-child {
        text-align: center;
    }
}
@media (max-width: 520px){
    .banner div {
        padding: 35px 30px;
        width: 80%;
    }
    .banner h1 {
        font-size: 24px;
        line-height: 34px;
    }
    .caja-servicios {
        width: 100%;
    }
}
@media (max-width: 390px){
    nav {
        width: 78%;
    }
    nav a {
        text-align: right;
        padding-right: 15px;
    }
}